Deleting a somthing from a table

In [1]:
import mysql.connector as connection

In [2]:
mydb = connection.connect(host="localhost",database= 'khan1',user="root", passwd="mysql123",use_pure=True)

In [3]:
mydb.is_connected()

True

In [4]:
query = "DELETE FROM khan1 WHERE X1=2223"

In [5]:
cursor = mydb.cursor()

In [6]:
cursor.execute(query)

In [7]:
mydb.commit()

Updating a Table

In [8]:
mydb = connection.connect(host="localhost",database= 'khan1',user="root", passwd="mysql123",use_pure=True)

In [9]:
cur = mydb.cursor()

In [10]:
cur.execute("insert into khan1 values(2223,'shayan','2022.11.17')")#yyyy.mm.dd

In [11]:
mydb.commit()

In [12]:
cur = mydb.cursor()

In [13]:
out = cur.execute("select * from khan1")

In [14]:
cur.fetchall()

[(2223, 'shayan', datetime.date(2022, 11, 17))]

In [15]:
#now update it

In [16]:
query = "UPDATE khan1 SET x1=3, x2= 'shayan' WHERE x1 = 2223"

In [17]:
cursor = mydb.cursor()

In [18]:
cursor.execute(query)
mydb.commit()